
<!doctype html>
<html amp lang="en">

<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Easy Online Resume Builder - Create or Upload Your Résumé</title>
    <meta name="description" content="Resume.com's Free Online Resume Maker: our professional resume templates make it easy to build &amp; share your résumé. Fast, easy, and fun - just click to begin!">
	<meta name="theme-color" content="#54adda">
    <link rel="canonical" href="http://www.resume.com/">
    <link rel="shortcut icon" href="http://img.resume.com/icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://img.resume.com/icon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
        {
           "@context":"http://schema.org/",
           "@type":"Organization",
           "address":{
              "@type":"PostalAddress",
              "addressCountry":"Canada",
              "addressLocality":"Vancouver",
              "addressRegion":"BC",
              "postalCode":"V6B 2T4",
              "streetAddress":"205 - 1080 Mainland Street"
           },
           "mainEntityOfPage":{
              "@type":"WebPage",
              "@id":"https://www.resume.com"
           },
           "name":"Resume.com",
           "Description":"Easy free online resume builder",
           "disambiguatingDescription":"An online resume maker with free resume templates for job seekers to create their own resumes and cover letters online",
           "logo":{"@type":"ImageObject","url":"https://img.resume.com/og/home.png","height":"637","width":"1205"},
           "url":[
              "https://www.resume.com"
           ],
           "sameAs":[
              "https://www.facebook.com/resumecom",
              "https://twitter.com/resumecom",
              "https://www.linkedin.com/company/resume-com",
              "https://www.instagram.com/resumecom/",
              "https://medium.com/resumecom",
              "https://support.resume.com/"
           ]
        }
    </script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
	<script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <link rel="manifest" href="https://www.resume.com/pwa/index.json">
    
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
        hr,img{
    border:0
}
[role=button],button{
    cursor:pointer
}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:1.42857143
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    color:#337ab7;
    text-decoration:none
}
a:active,a:hover{
    outline:0
}
b,strong{
    font-weight:700
}
img{
    vertical-align:middle
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
    margin-top:20px;
    margin-bottom:20px;
    border-top:1px solid #eee
}
button{
    color:inherit;
    font:inherit;
    margin:0;
    overflow:visible;
    -webkit-appearance:button
}
.container,.container-fluid{
    margin-right:auto;
    margin-left:auto
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner{
    border:0;
    padding:0
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
.container,.container-fluid{
    padding-left:15px;
    padding-right:15px
}
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html{
    font-size:10px;
    -webkit-tap-highlight-color:transparent
}
button,select{
    text-transform:none;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
a:focus,a:hover{
    color:#23527c;
    text-decoration:underline
}
a:focus{
    outline:-webkit-focus-ring-color auto 5px;
    outline-offset:-2px
}
@media (min-width:768px){
    .container{
        width:750px
    }
}
@media (min-width:992px){
    .container{
        width:970px
    }
}
@media (min-width:1200px){
    .container{
        width:1170px
    }
}
.row{
    margin-left:-15px;
    margin-right:-15px
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    float:left
}
.col-xs-12{
    width:100%
}
.col-xs-11{
    width:91.66666667%
}
.col-xs-10{
    width:83.33333333%
}
.col-xs-9{
    width:75%
}
.col-xs-8{
    width:66.66666667%
}
.col-xs-7{
    width:58.33333333%
}
.col-xs-6{
    width:50%
}
.col-xs-5{
    width:41.66666667%
}
.col-xs-4{
    width:33.33333333%
}
.col-xs-3{
    width:25%
}
.col-xs-2{
    width:16.66666667%
}
.col-xs-1{
    width:8.33333333%
}
@media (min-width:768px){
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{
        float:left
    }
    .col-sm-12{
        width:100%
    }
    .col-sm-11{
        width:91.66666667%
    }
    .col-sm-10{
        width:83.33333333%
    }
    .col-sm-9{
        width:75%
    }
    .col-sm-8{
        width:66.66666667%
    }
    .col-sm-7{
        width:58.33333333%
    }
    .col-sm-6{
        width:50%
    }
    .col-sm-5{
        width:41.66666667%
    }
    .col-sm-4{
        width:33.33333333%
    }
    .col-sm-3{
        width:25%
    }
    .col-sm-2{
        width:16.66666667%
    }
    .col-sm-1{
        width:8.33333333%
    }
}
@media (min-width:992px){
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
        float:left
    }
    .col-md-12{
        width:100%
    }
    .col-md-11{
        width:91.66666667%
    }
    .col-md-10{
        width:83.33333333%
    }
    .col-md-9{
        width:75%
    }
    .col-md-8{
        width:66.66666667%
    }
    .col-md-7{
        width:58.33333333%
    }
    .col-md-6{
        width:50%
    }
    .col-md-5{
        width:41.66666667%
    }
    .col-md-4{
        width:33.33333333%
    }
    .col-md-3{
        width:25%
    }
    .col-md-2{
        width:16.66666667%
    }
    .col-md-1{
        width:8.33333333%
    }
}
@media (min-width:1200px){
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{
        float:left
    }
    .col-lg-12{
        width:100%
    }
    .col-lg-11{
        width:91.66666667%
    }
    .col-lg-10{
        width:83.33333333%
    }
    .col-lg-9{
        width:75%
    }
    .col-lg-8{
        width:66.66666667%
    }
    .col-lg-7{
        width:58.33333333%
    }
    .col-lg-6{
        width:50%
    }
    .col-lg-5{
        width:41.66666667%
    }
    .col-lg-4{
        width:33.33333333%
    }
    .col-lg-3{
        width:25%
    }
    .col-lg-2{
        width:16.66666667%
    }
    .col-lg-1{
        width:8.33333333%
    }
}
.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{
    content:" ";
    display:table
}
.clearfix:after,.container-fluid:after,.container:after,.row:after{
    clear:both
}
.frontpageFooter{
    background-color:#e3e3e3;
    line-height:50px;
    padding:60px 0;
    text-align:center;
    width:100%
}
.frontpageFooter ul{
    list-style:none;
    line-height:1.4em;
    font-size:1.1em;
    text-align:left;
    font-weight:300;
    padding:0
}
.frontpageFooter ul hr{
    margin:0 0 8px;
    border-bottom:1px solid #4a4a4a
}
.frontpageFooter ul li:first-child{
    font-size:17px;
    font-weight:600;
    margin-bottom:8px;
    min-height:30px
}
.frontpageFooter ul li>a{
    color:#4a4a4a;
    font-size:16px;
    line-height:1.56;
    font-weight:400
}
.frontpageFooter ul li>a:focus{
    outline:0;
    outline-offset:0
}
.frontpageFooter ul .footer-legal a:hover,.frontpageFooter ul li>a:hover{
    text-decoration:underline;
    color:#000
}
.frontpageFooter .stay-connected{
    display:flex;
    justify-content:space-between
}
@media (min-width:768px) and (max-width:1200px){
    .frontpageFooter .stay-connected{
        display:block
    }
}
.frontpageFooter .stay-connected a{
    width:45px;
    height:45px;
    display:inline-block;
    margin:0 5px 10px 0
}
.frontpageFooter .stay-connected a .stay-connected-path{
    fill:#b5b5b5;
    text-decoration:none
}
.frontpageFooter .stay-connected a:hover .stay-connected-path{
    fill:#696969;
    text-decoration:none
}
.frontpageFooter .footer-legal span{
    padding-right:10px;
    font-size:12px
}
.frontpageFooter .footer-legal .cc-text,.frontpageFooter .footer-legal a{
    color:#696969
}
.frontpageFooter .made_with{
    font-family:"Noto Serif","Times New Roman",Times,serif;
    font-style:italic;
    color:#9b9b9b;
    display:inline-block
}
.frontpage,.frontpage .top_right_btns .homeTopLogin a{
    color:#fff
}
.frontpageFooter .made_with svg{
    width:20px;
    height:20px;
    display:inline-block;
    vertical-align:middle
}
.frontpageFooter .fb_iframe_widget{
    display:inline-block;
    line-height:21px;
    margin:0 5px 0 0;
    padding:0;
    position:relative
}
.frontpage{
    background-color:#097dc2;
    position:relative;
    text-align:center;
    width:100%
}
.frontpage .home_fb_btn{
    position:absolute;
    top:10px;
    right:70px
}
.frontpage .home_fb_btn iframe{
    border:none;
    overflow:hidden
}
.frontpage .top_right_btns{
    position:absolute;
    top:0;
    right:0;
    font-size:15px
}
.frontpage2,.frontpage3,.social-or{
    position:relative
}
.frontpage .top_right_btns .homeTopEmployer,.frontpage .top_right_btns .homeTopLogin,.frontpage .top_right_btns .homeTopLogout{
    border:0;
    display:inline-block;
    float:left;
    margin:0;
    padding:8px 15px;
    text-decoration:none;
    transition:all .2s ease 0s
}
.frontpage .top_right_btns .homeTopLogin{
    background-color:#2e80cf;
    border-color:#2e6da4;
    color:#fff
}
.frontpage .top_right_btns .homeTopLogin a:active,.frontpage .top_right_btns .homeTopLogin a:focus,.frontpage .top_right_btns .homeTopLogin a:hover{
    color:#f7f7f7
}
.frontpage .top_right_btns .homeTopLogin,.frontpage .top_right_btns .homeTopLogout{
    background-color:rgba(0,0,0,.1)
}
.frontpage .top_right_btns .homeTopLogin.focus,.frontpage .top_right_btns .homeTopLogin:active,.frontpage .top_right_btns .homeTopLogin:focus,.frontpage .top_right_btns .homeTopLogin:hover{
    background-color:#286090;
    border-color:#286090
}
.frontpage .top_right_btns .homeTopLogin:hover,.frontpage .top_right_btns .homeTopLogout:hover{
    background-color:rgba(0,0,0,.35);
    color:#fff
}
.frontpage .top_right_btns .homeTopEmployer{
    background-color:rgba(255,255,255,.15);
    color:#fff
}
.frontpage .top_right_btns .homeTopEmployer:hover{
    background-color:rgba(255,255,255,.3);
    color:#fff
}
.frontpage .logo{
    margin:0 auto 15px;
    max-width:400px;
    display:block;
    width:100%
}
@media (max-width:767px){
    .frontpage .logo{
        width:90%
    }
}
.frontpage .frontpage-button-group a{
    float:right
}
.frontpage .frontpage-button-group button{
    float:left
}
.frontpage .createResumeBtn{
    font-size:2em;
    margin:0 auto
}
@media (max-width:599px){
    .frontpage .home-tag{
        padding:0 30px
    }
}
.above_ticker{
    color:#9b9b9b;
    font-size:18px;
    font-weight:300;
    margin:0 auto;
    padding:25px 0;
    max-width:1100px;
    list-style:none
}
.above_ticker li{
    font-size:1em;
    line-height:1.5;
    text-align:left
}
.frontpage2,.social-or,.text-center{
    text-align:center
}
.above_ticker h4{
    font-size:2.3em;
    font-weight:400;
    line-height:1em;
    margin:0;
    padding:0
}
.frontpageEmployer{
    background-color:#9b9b9b;
    color:#fff;
    font-size:18px;
    padding:10px;
    font-weight:300
}
.frontpageEmployer a{
    color:#fff;
    text-decoration:underline
}
.header1{
    font-size:55px;
    font-weight:300;
    margin:0 0 32px
}
@media (max-width:768px){
    .header1{
        font-size:36px;
        margin-bottom:22px
    }
}
.header2,.header3{
    font-size:30px;
    font-weight:300
}
.header2{
    margin:0 0 27px
}
.header3{
    margin:0 0 20px
}
.header4{
    font-size:22px;
    font-weight:300;
    margin:0 0 15px
}
.frontpage2{
    background-image:url(https://img.resume.com/hands_frontpage.png);
    background-color:#d6d6d6;
    background-size:contain;
    background-position:top center;
    background-repeat:no-repeat;
    color:#4a4a4a;
    height:916px;
    padding:40px 0 0;
    width:100%
}
.frontpage2 h1{
    color:#5c5c5c;
    margin:0 auto;
    max-width:500px;
    padding:75px 0
}
@media (max-width:768px){
    .frontpage2 h1{
        padding:75px 0
    }
}
.frontpage2 .btn{
    margin-left:-15px;
    border-radius: 3px;
}
.frontpage3{
    color:#fff
}
.frontpage3 h1{
    padding:0
}
.frontpage3 .fa{
    color:#2290bf;
    font-size:1.5em;
    margin:10px 3px 0 0;
    vertical-align:sub
}
.frontpage3 ul{
    list-style:none;
    margin:10px 0 30px;
    padding:0
}
#signinTab .modal-body-footer{
    margin-top:8px;
    font-size:14px
}
.frontpage .home-tag{
    font-style:normal;
    font-weight:300;
    margin:.8em auto 1.2em;
    text-align:center;
    line-height:1.2em;
    max-width:800px;
    display:block
}
.main_section{
    font-size:20px;
    font-weight:300;
    padding-top:60px;
    padding-bottom:60px
}
.boxed-green{
    background:#60cd9b;
    color:#fff
}
.social-or{
    color:#c9c8c8;
    border-bottom:1px solid #c9c8c8;
    margin:5px 0 30px;
    height:20px
}
.social-or span{
    line-height:1;
    display:inline-block;
    padding:3px 15px;
    background-color:#fff;
    position:absolute;
    width:140px;
    top:38%;
    left:calc(50% - 70px);
    font-size:18px;
    font-style:italic
}
.social-buttons button{
    overflow:hidden;
    position:relative;
    font-size:18px;
    margin-bottom:5px;
    text-align:left
}
.social-buttons button i.fa{
    transition:all .2s ease 0s;
    position:absolute;
    height:100%;
    width:50px;
    background-color:rgba(0,0,0,.1);
    top:0;
    left:0;
    line-height:58px;
    font-size:22px;
    text-align:center
}
@media (max-width:267px){
    .social-buttons button i.fa{
        display:none
    }
}
.social-buttons button .ladda-label{
    margin-left:75px
}
@media (max-width:767px){
    .social-buttons button{
        text-align:center
    }
    .social-buttons button .ladda-label{
        margin-left:0
    }
}
.social-buttons button#linkedInSignInBTN i.fa{
    line-height:52px
}
.social-buttons button:disabled i.fa{
    left:-35px
}
.social-buttons button:disabled .ladda-label{
    margin-left:20px
}
@media only screen and (max-width:767px){
    .frontpage .frontpage-button-group a{
        float:none
    }
    .frontpage .frontpage-button-group button{
        display:none
    }
}
@media only screen and (min-width:600px) and (max-width:767px){
    .frontpage2{
        height:648px;
        padding:0
    }
}
@media only screen and (max-width:599px){
    .frontpage{
        min-height:350px
    }
    .above_ticker{
        font-size:15px;
        margin:0;
        padding:15px 0
    }
    .above_ticker h4{
        font-size:2.2em
    }
    .above_ticker li{
        padding-bottom:10px
    }
    .frontpage2{
        height:580px;
        padding:0;
        border-width:10px;
        background-size:cover
    }
}
@media only screen and (min-width:768px) and (max-width:1199px){
    .frontpage2{
        height:860px;
        padding:0
    }
}
.btn-success{
    color:#fff;
    background-color:#57c176
}
.btn-lg{
    border-radius:3px;
    font-size:20px;
    padding:14px 65px;
    font-weight:300
}
.btn.focus,.btn:focus,.btn:hover{
    color:#333;
    text-decoration:none
}
.btn-success:active,.btn-success:focus,.btn-success:hover{
    background-color:#40823d
}
.btn-success:hover{
    color:#fff;
    background-color:#449d44;
    border-color:#398439
}

    </style>
</head>

<body>
    <div class="frontpage main_section">
        <div class="top_right_btns">
            <a class="homeTopLogin" id="mainSignOutBtn" href="/login">Sign in</a>
        </div>
        <div class="container">
            <amp-img class="logo" src="https://img.resume.com/logo/resume-logo-white-med.png" alt="Resume.com Logo" itemprop="logo" width="500" height="88" layout="responsive"></amp-img>

            <h1 class="header1 header-white text-center">Easy online resume builder</h1>
            <div class="home-tag">
                Create, edit and share your resume in minutes using our free resume builder. Build the perfect resume and get the job you deserve!
            </div>

            <div class="text-center">
                <a href="/builders" class="btn btn-success btn-lg">Create a resume</a>
            </div>

        </div>
    </div>


    <ul class="above_ticker container-fluid">
        <li class="col-xs-6 col-sm-3">
            <h4><span id="uploaded_today">5,534</span></h4> Resumes Today
        </li>
        <li class="col-xs-6 col-sm-3">
            <h4><span id="uploaded_week">25,746</span></h4> Resumes This Week
        </li>
        <li class="col-xs-6 col-sm-3">
            <h4><span id="registered_users">4,167,494</span></h4> Active Members
        </li>
        <li class="col-xs-6 col-sm-3">
            <h4><span id="total_resumes">4,156,338</span></h4> Published Resumes
        </li>
    </ul>


    <div class="frontpage2">
        <h1 class="header1 header1-small text-center">Create the perfect résumé for the job you want!</h1>

        <a href="/builders" class="btn btn-success btn-lg" itemprop="url">Create a resume</a>

    </div>

    <div class="frontpage3 boxed-green main_section">
        <div class="container">
            <h1 class="header1 header1-small text-center">Building a Professional Résumé</h1>
            <p>Resume.com is the best place to build and post your resume online at no cost to you. Not only is it free, but it’s easy to sign up. Once you have posted a resume to our site, you can access it from anywhere! Use our free resume builder to create the perfect resume online in just minutes.</p>
            <p>If you are looking for a job, odds are you know you need a great resume. But did you know that a professional-looking resume can set you apart from the rest of the field in a matter of seconds? The first impression is everything to an employer when going through application after application, which is why your resume must be top notch. The good news is you’ve come to the right place!</p>

            <ul class="text-center">
                <li><i class="fa fa-check"></i> Create a free resume using our builder platform</li>
                <li><i class="fa fa-check"></i> Manage and edit your resume</li>
                <li><i class="fa fa-check"></i> Publish multiple resume versions</li>
                <li><i class="fa fa-check"></i> Create, post, and share your resume in minutes</li>
            </ul>

            <p>If you have all of the right qualifications but aren’t sure how to put them together in a professional document, our resume builder will guide you through it in just 3 easy steps. We even have sample resumes to help you get the ideas flowing. When you’re ready to share it, we’ll guide you through sharing and promoting your resume online using social and professional networks. If you don’t want to post the resume you created right away, you can simply download a plain text version for free and save it for later.</p>
            <p>Using our tools, you can manage, edit, and post a flawless resume online for free. You can even publish multiple versions of the resume to cater to different job applications.</p>
        </div>
    </div>
    <div id="socialProofPopUp">
        <div class="popUpContainer">

        </div>
    </div>
    <div class="frontpageFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <ul>
                        <li class="foot_header">Job Seekers</li>
                        <li><hr></li>
                        <li><a href="/builder">Build a Resume</a></li>
                        <li><a href="/sample">Sample Resumes</a></li>
                        <li><a href="/coverletter">Sample Cover Letters</a></li>
                        <li><a href="/examples">Resume Examples</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <ul>
                        <li>Career Center</li>
                        <li><hr></li>
                        <li><a href="/careers/career-planning/">Career Planning</a></li>
                        <li><a href="/careers/cover-letters/">Cover Letters</a></li>
                        <li><a href="/careers/jobs/">Finding a Job</a></li>
                        <li><a href="/careers/interview-tips/">Interview Tips</a></li>
                        <li><a href="/careers/personal-branding/personal-branding-basics/">Personal Branding</a></li>
                        <li><a href="/careers/resume-writing/">Resume Writing</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <ul>
                        <li class="foot_header">Jobs</li>
                        <li><hr></li>
                        <li><a href="/jobs">Job Search</a></li>
                        <li><a href="/jobs/employers">Hiring Companies</a></li>
                        <li><a href="/jobs/states">Find Jobs by State</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <ul>
                        <li class="foot_header">Help Center</li>
                        <li><hr></li>
                        <li><a target="_blank" href="https://support.resume.com/" rel="noopener">Customer Support</a></li>
                        <li><a href="/passupdate">Reset Password</a></li>
                        <li><a href="/unsubscribe">Unsubscribe</a></li>
                        <li><a href="/help">Help Page</a></li>
                        <li><a href="/sitemap">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <ul>
                        <li class="foot_header">Stay Connected</li>
                        <li><hr></li>
                    </ul>
                    <div class="stay-connected">
                        <a href="https://www.linkedin.com/company/resume-com/" target="_blank" title="LinkedIn" rel="noopener">
                            <svg class="icon icon-linkedin" width="45px" height="45px">
                                <use class="stay-connected-path" xlink:href="#icon-linkedin"></use>
                                <symbol id="icon-linkedin" viewBox="0 0 32 32">
                                    <path class="stay-connected-path" d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16v0c0-8.837-7.163-16-16-16v0zM12.176 22.696h-3.008v-9.032h3zM11.912 12c-0.307 0.279-0.716 0.45-1.166 0.45-0.026 0-0.052-0.001-0.078-0.002l0.004 0c-0.020 0.001-0.043 0.001-0.066 0.001-0.439 0-0.839-0.171-1.135-0.45l0.001 0.001c-0.286-0.273-0.464-0.657-0.464-1.083 0-0.013 0-0.026 0-0.038l-0 0.002c-0-0.011-0.001-0.025-0.001-0.038 0-0.424 0.182-0.807 0.471-1.073l0.001-0.001c0.306-0.274 0.712-0.442 1.157-0.442 0.026 0 0.053 0.001 0.079 0.002l-0.004-0c0.021-0.001 0.046-0.001 0.071-0.001 0.435 0 0.832 0.165 1.131 0.435l-0.001-0.001c0.292 0.279 0.473 0.671 0.473 1.105 0 0.019-0 0.038-0.001 0.057l0-0.003c0 0.006 0 0.014 0 0.021 0 0.42-0.182 0.797-0.471 1.058l-0.001 0.001zM23.008 22.696h-3.008v-4.8q0-2.040-1.512-2.040c-0.015-0.001-0.033-0.001-0.051-0.001-0.348 0-0.668 0.121-0.92 0.323l0.003-0.002c-0.439 0.324-0.721 0.839-0.721 1.42 0 0.018 0 0.036 0.001 0.054l-0-0.003v5.048h-2.96q0-4.080 0-6.344t0-2.688h2.96v1.288c0.543-0.907 1.521-1.505 2.638-1.505 0.029 0 0.058 0 0.086 0.001l-0.004-0c0.044-0.002 0.095-0.003 0.147-0.003 0.931 0 1.77 0.398 2.355 1.033l0.002 0.002c0.595 0.738 0.956 1.688 0.956 2.721 0 0.112-0.004 0.223-0.013 0.333l0.001-0.015z"></path>
                                </symbol>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/resumecom" target="_blank" title="Facebook" rel="noopener">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 417.067 417.066" xml:space="preserve">
                                <path class="stay-connected-path" d="M208.534,0C93.186,0,0,93.186,0,208.533s93.186,208.533,208.534,208.533
                                        c115.347,0,208.533-93.187,208.533-208.533C417.067,93.186,323.379,0,208.534,0z M254.875,208.533c-10.074,0-19.646,0-29.215,0
                                        c0,1.008,0,1.512,0,2.52c0,34.252,0,69.007,0,103.259c0,0.504,0,1.512,0,2.016c-13.602,0-26.697,0-40.298,0
                                        c0-5.541,0-10.578,0-16.119c0-29.719,0-59.437,0-89.155c0-0.504,0-1.511,0-2.519c-9.066,0-17.629,0-26.696,0
                                        c0-0.504,0-1.511,0-2.015c0-11.082,0-22.163,0-33.245c0-1.511,0.503-2.015,2.015-2.015c7.556,0,15.111,0,23.17,0
                                        c1.511,0,2.015-0.504,2.015-2.016c0-10.074,0-20.148,0.504-29.718c0.504-7.052,2.015-14.607,5.037-21.156
                                        c3.525-7.052,9.57-12.089,17.126-14.606c4.029-1.512,8.562-2.016,13.095-3.022c0.504,0,1.009,0,1.513-0.504
                                        c12.089,0,24.178,0,36.267,0c0,1.007,0,1.511,0,2.519c0,11.082,0,21.659,0,32.741c0,1.511-0.504,2.015-2.015,2.015
                                        c-6.045,0-12.089,0-18.134,0c-2.016,0-4.029,0.504-6.045,1.008c-3.525,1.008-6.549,4.029-6.549,8.06
                                        c-0.502,7.556-0.502,15.615-0.502,23.17c0,1.511,1.006,1.007,1.51,1.007c9.57,0,19.646,0,29.216,0c0.504,0,1.511,0,2.015,0
                                        C257.393,183.852,255.881,195.94,254.875,208.533z"></path>
                            </svg>
                        </a>
                        <a href="https://www.twitter.com/resumecom" target="_blank" title="Twitter" rel="noopener">
                            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 417.067 417.066" xml:space="preserve">
                                <path class="stay-connected-path" d="M208.534,0C93.185,0,0,93.186,0,208.533s93.185,208.533,208.534,208.533
                                        c115.347,0,208.535-93.187,208.535-208.533C417.067,93.186,323.377,0,208.534,0z M299.2,155.141
                                        c-4.029,5.037-8.562,9.569-13.6,13.096c-1.008,0.504-1.512,1.511-1.512,2.52c0.504,33.748-11.586,61.955-35.26,85.628
                                        c-14.606,14.607-32.74,23.172-52.889,27.2c-10.578,2.016-21.156,2.52-32.237,2.016c-18.133-1.512-34.755-7.053-49.867-16.622
                                        c0,0,0,0-0.503-0.504c21.155,2.015,39.792-3.021,56.918-16.118c-17.63-1.512-29.719-10.578-36.267-27.2
                                        c6.044,1.007,11.585,1.007,17.125-0.503c-23.17-6.045-31.229-26.697-30.726-38.786c5.541,2.519,10.578,4.533,16.622,4.533
                                        c-17.126-14.607-21.156-31.733-11.585-52.386c21.155,25.186,47.852,38.785,80.593,41.305c0-2.016-0.504-4.03-0.504-6.044
                                        c-1.008-16.119,5.541-28.208,19.141-36.267c14.606-9.067,34.252-7.053,46.341,5.036c1.512,1.511,2.52,1.511,4.533,1.007
                                        c7.053-1.511,13.6-4.533,20.148-8.059c0.502-0.504,1.007-0.504,2.015-1.008c-1.513,4.533-3.526,8.562-6.548,12.089
                                        s-6.045,6.044-9.066,9.065c7.051-1.006,13.6-3.021,20.652-5.541C302.223,151.615,300.711,153.629,299.2,155.141z"></path>
                            </svg>
                        </a>
                        <a href="https://www.instagram.com/resumecom" target="_blank" title="Instagram" rel="noopener">
                            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 417.067 417.066" xml:space="preserve">
                                <g>
                                    <path class="stay-connected-path" d="M295.674,162.696c0-7.052-1.512-14.104-4.533-20.147c-6.044-12.593-16.622-19.142-30.223-20.652
                                            c-9.066-1.008-18.637-1.512-27.703-1.512c-19.646,0-39.29,0-58.933,0.504c-7.052,0-13.6,0.504-20.652,1.511
                                            c-16.623,2.519-27.704,13.6-31.23,30.222c-2.015,8.562-2.015,17.629-2.015,26.191c-0.503,10.074,0,20.148,0,30.224
                                            c0,16.118-0.503,32.74,1.007,48.859c0.504,6.548,2.015,12.592,5.541,18.133c6.548,11.585,16.622,17.126,29.215,18.637
                                            c9.066,1.008,18.637,1.512,28.207,1.512c19.141,0,38.785,0,57.927-0.504c7.051,0,14.104-0.504,20.651-1.511
                                            c16.622-2.519,28.207-13.601,31.229-30.223c2.015-8.562,2.015-17.126,2.015-25.688c0-10.074,0-20.147,0-30.726h0.504
                                            C296.178,193.422,296.178,177.807,295.674,162.696z M208.029,263.94c-30.726,0-55.407-25.186-54.903-55.911
                                            c0-30.223,25.186-54.903,55.912-54.903c30.223,0,54.902,25.185,54.902,55.407C263.438,239.259,238.756,263.94,208.029,263.94z
                                             M265.452,164.207c-7.052,0-12.593-6.044-12.593-13.096c0-7.053,6.044-12.592,13.097-12.592c7.555,0,13.096,6.043,12.592,13.096
                                            C278.547,158.666,272.504,164.207,265.452,164.207z"></path>
                                    <path class="stay-connected-path" d="M208.533,172.77c-19.644,0-35.763,16.119-36.267,35.764c0,19.645,16.119,35.763,35.763,35.763
                                            c19.646,0,35.765-16.118,35.765-35.763C244.295,188.889,228.178,172.77,208.533,172.77z"></path>
                                    <path class="stay-connected-path" d="M208.533,0C93.185,0,0,93.186,0,208.533s93.185,208.533,208.533,208.533
                                            s208.534-93.187,208.534-208.533C417.067,93.186,323.377,0,208.533,0z M315.823,233.215c-0.504,9.57-0.504,19.142-1.512,28.711
                                            c-3.021,26.696-19.645,45.838-45.837,51.379c-8.563,2.015-17.126,2.015-25.688,2.015c-19.142,0-38.282,0.504-57.423,0
                                            c-10.074,0-20.652-0.504-30.726-1.511c-28.208-3.022-47.348-21.156-51.881-48.356c-1.511-7.555-1.511-15.614-2.015-23.17
                                            c-0.503-19.646-0.503-38.785-0.503-58.431c0-10.073,0.503-20.147,1.511-29.717c3.022-28.209,21.156-47.349,48.356-51.883
                                            c7.555-1.511,15.615-1.511,23.17-2.015c19.141-0.503,37.776-0.503,56.918-0.503c10.578,0,21.156,0.503,31.229,1.511
                                            c27.199,3.022,45.838,20.147,51.377,45.837c1.512,8.061,2.016,16.119,2.016,24.178c0,12.09,0,24.179,0,35.764c0,0,0,0,0.504,0
                                            C315.823,217.096,316.327,225.155,315.823,233.215z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <ul>
                        <li class="foot_header">Our Company</li>
                        <li>
                            <hr>
                        </li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a target="_blank" href="//support.resume.com/" rel="noopener">Send Feedback</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-legal">
                <span class="cc_text">Copyright © Resume.com 2018</span>
                <span>
                    <a href="/legal">Terms</a>
                </span>
                <span>
                    <a href="/privacy">Privacy Policy</a>
                </span>
                <span>
                    <a href="/cookie">Cookie Policy</a>
                </span>
            </div>
        </div>
    </div> 
        <amp-analytics type="googleanalytics">
        <script type="application/json">
        {
          "vars": {
            "account": "UA-2558086-9"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
        </script>
    </amp-analytics>
	<amp-install-serviceworker src="/pwa/index.js"
	  data-iframe-src="/pwa/index.html"
	  layout="nodisplay">
	</amp-install-serviceworker>
</body>
</html>